/*
*首页共同样式
*/
.col1{
   width: 234px;
   float: left;
}
.col2{
	width: 978px;
	float: left;
	margin-left: 14px;
}


.top{
	background: #333;
	height: 40px;
}
.top .top-nav{
	float: left;
    height: 40px;
    font-size: 12px;
}
.top .top-nav .top-nav-item{
	float: left;
	line-height: 40px;
	list-style: none;
}
.top .sep{
	color: #42423b;
	margin: 0 0.5em;
}
.top .user-info{
    float: right;
    width: 160px;
}
.top .user-info .user-info-item{
    float: left;
    height: 40px;
    line-height: 40px;
}
.top .cart{
    float: right;
    width: 120px;
    height: 40px;
    background: red;
    background: #424242;
}
.top .cart .cart-box a{
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.top .cart .cart-box .icon-cart{
	font-size: 20px;
	vertical-align: -4px;
}
.top .cart .cart-box a:hover{
	background: #fff;
	color: #ff6700;
}

.header{
    height: 100px;
}
.header .logo{
    float: left;
    width: 55px;
    height: 55px;
    margin-top: 22px;
    background: #ff6700;
}
.header .logo a{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../image/logo.png);
	background-repeat: no-repeat;
	background-position:center 1px;
	text-indent: -9999em;
}
.header .header-nav{
    float: left;
    height: 100px;
    line-height: 100px;
    margin-left: 190px;
    list-style: none;
}
.header .header-nav .header-nav-item{
    float: left;
    margin-left: 20px;
}
.header .header-nav .header-nav-item a{
    font-size: 16px;
    color: #333;
}
.header .header-nav .header-nav-item a:hover{
	color: #ff6700;
}

.header .search{
	float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
    position: relative;
}
.header .search .search-text{
	float: left;
    width: 246px;   
    height: 100%;
    border: 1px solid #e0e0e0;
    border-right: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}

.header .search .search-btn{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border:1px solid #e0e0e0;
    box-sizing: border-box;
    font-size: 18px;
    cursor: pointer;
}
.header .search .search-btn:hover{
	background: #ff6700;
	color: #fff;
	border:none;
}
.header .search .search-hot-words{
    position: absolute;
    left: 100px;
    line-height: 50px;
}
.header .search .search-hot-words .search-hot-words-item{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 0 6px;
    background:#eee;
    color: #757575;
}
.header .search .search-keyword-list{
	display: none;
	position: absolute;
	top: 50px;
	left: 0px;
	width: 246px;
	border:1px solid #ff6700;
	border-top: none;
	box-sizing: border-box;
	background: #fff;
	z-index: 999;
}
.header .search .search-keyword-list .keyword-item{
	height: 30px;
	line-height: 30px;
}
.header .search .search-keyword-list .keyword-item a{
	display: black;
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
}
.header .search .search-keyword-list .keyword-item .keyword{
	color: #333;
}
.header .search .search-keyword-list .keyword-item .num{
	float: right;
	color: #b0b0b0;
}
.header .search .search-text:hover{
	border-color:#999;
}
.header .search .search-text:hover + .search-btn{
    border-color:#999;	
}

.header .search .search-hot-words .search-hot-words-item:hover{
   background: #ff6700;
   color: #fff;
}
.header .search:hover .search-text,
.header .search:hover .search-btn
{
	border-color:  #999;
}
.header .search .search-text:focus{
	border-color: #ff6700;
}
.header .search .search-text:focus + .search-btn{
	border-color: #ff6700;
}
.header .search .search-text:focus ~ .search-keyword-list{
	display: block;
}
.header .search .search-text:focus ~ .search-hot-words{
	display: none;
}
.header .search .search-keyword-list .keyword-item:hover{
	background: #eee;
}

.home{
    height: 1272px;
    background: #fff;
}
.home .banner{
	position: relative;
	height: 460px;
	margin-bottom: 15px;
}
.home .banner .cate{
	position: absolute;
	top: 0;
    left: 0;
	width:234px;
	height: 460px;
	background: rgba(0,0,0,0.5);
	z-index: 999;
}
.home .banner .cate .cate-item{
	height: 42px;
	line-height: 42px;
	font-size: 13px;
	padding: 4px 20px 0px 30px;
	color:#fff;
	cursor: pointer;
}
.home .banner .cate .cate-item:hover{
    background: #ff6700;
}
.home .banner .cate .cate-item i{
	float: right;
}
.home .banner .carousel{
	height: 100%;
	position: relative;
}
.home .banner .carousel .carousel-imgs-item{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
}
.home .banner .carousel .arrow{
	position: absolute;
	top: 50%;
	z-index: 888;
	width: 40px;
	height: 80px;
	line-height: 80px;
	margin-top: -40px;
	font-size: 30px;
	color: #eee;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.home .banner .carousel .arrow:hover{
	background: rgba(0,0,0,0.4);
}
.home .banner .carousel .left-arrow{
    left: 234px;
}
.home .banner .carousel .right-arrow{
	right: 0px;
}
.home .banner .carousel .carousel-imgs-item img{
	width: 100%;
	height: 460px;
}
.home .banner .carousel .carousel-btn{
	position: absolute;
	right: 35px;
	bottom: 24px;
	z-index: 888;
}
.home .banner .carousel .carousel-btn li{
	float: left;
	width: 5px;
	height: 5px;
	border:4px solid #b5b3bd;
	background: #96938a;
	border-radius: 50%;
	margin-left: 10px;
	cursor: pointer;
}
.home .banner .carousel .carousel-btn li:hover{
	border-color: #979590;
	background:#fcf9f0;
}
.home .hot{
	height: 170px;
	margin-bottom: 25px;
}
.home .hot .hot-chanel{
	height: 170px;
	background: #5f5750;
}
.hot .hot-chanel .hot-chanel-item{
	float: left;
	width: 78px;
	height: 85px;
	padding-top: 20px;
	box-sizing: border-box;
	text-align: center;
}
.hot .hot-chanel .hot-chanel-item i{
	display: block;
	font-size: 26px;
}
.home .hot .hot-chanel .hot-chanel-item .right-line:after{
	display: block;
	position: absolute;
	top: 10px;
	left: 78px;
	content: "";
	width: 1px;
	height: 70px;
	background: #eee;
}
.home .hot .hot-chanel .hot-chanel-item .top-line:after{
	display: block;
	position: absolute;
	top: 0px;
	left: 8px;
	content: "";
	width: 65px;
	height: 1px;
	background: red;
}
 .home .hot .hot-promo{
 	height: 170px;
 	background: purple;
 }

.main{
    height: 2058px;
    background: gray;
}
.footer{
    height: 277px;
    background: purple;
}
.end{
   height: 148px;
   background: green;
}